body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: beige;
} 
.Tree{
    width: 500px;
    border: thin solid black;
    float: left;
}

.Tree img {
    width: 100%;
}

.first{
    width: 700px;
}
.clear{
    clear: both;
}
.floatleft{
    float: left;
}
.place{
    width: 100px;
    position:fixed;
    right: 10px;
    top: 50px; 
    
}

.relativer{
    float: right;
    position: relative;
    top: 20px;
}
