body{
    font-family:Arial, Helvetica, sans-serif;
}

main p {
    color: rgb(169, 222, 64);
    font-size: 20pt;
}

#second {
    color: rgb(38, 52, 17);
    font-family: Jokerman;
}

.larger {
    font-size: 15pt;
    color: rgb(143, 62, 76);
}

.pink {
    color: rgb(92, 17, 30);
}

.blue {
    color: rgb(60, 87, 114);
}

.purple {
    color: rgb(59, 27, 59);
}

body {
    background-color: rgba(59, 56, 56, 0.674);
}