body{
    background-color: rgba(59, 56, 56, 0.674);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: azure;
      
}
#myheader{
     font-family: cursive;
     color: black;
}
.note{
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p{
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
}
