body {
    background-image: url(backgroundimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: salmon;
    padding: 15px;
}

nav {
    background-color: #f0f0f0;
    padding: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    margin-right: 15px;
    font-weight: 700;
}

nav a:hover {
    color: rgb(0, 0, 0);
}
nav a.active{

    color: rgb(3, 3, 9);
    text-decoration: none;
    border-bottom: 2px solid rgb(2, 2, 2);
}

main {

    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); 
    color: rgb(255, 255, 255);

   
    background-image: url(Flag_of_India.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 150px;
    padding-right: 260px; 
    min-height: 80vh;
}





img {
    width: 350px;
    margin: 10px;
}

.home {
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

h1 {
    background: linear-gradient(to right, #FF671F, #FFFFFF, #046A38);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

h2 {
    
    background: linear-gradient(to right, #FF671F, #FFFFFF, #046A38);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

p, li {
    font-weight: 600;
}


nav a {
    font-weight: 700;
}

 .placelist {
    list-style: none;
    padding-left: 60px;
}

.placelist li {
    padding-left: 40px;
    padding-bottom: 15px;
    position: relative;
}

.placelist li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 28px;
    height: 28px;
    background-image: url(indialogo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}



footer {
    background: linear-gradient(to right, #FF671F, #FFFFFF, #046A38);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
}
