body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(9, 79, 79);
    line-height: 1.5;
}
#wrapper {
    width: 850px;
    background-color: rgb(125, 103, 103);
    margin: auto;
    padding: 10px;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}
nav{
    text-align: center;
    height: 60px;
    line-height: 25px;
}
nav a {
    display: inline-block;
    background-color: rgb(125, 125, 48);
    color: white;
    padding: 8px 20px;
    border: 2px solid #fff;
    margin: 5px;
    border-radius: 12px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 2px 2px 5px black;
}
nav a:hover {
    text-decoration: underline;
    background-color: white;
    color: rgb(125, 125, 48);
    box-shadow: 5px 5px 10px black;
}
.clear{
    clear: both;
}
header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 60px;
    font-size: medium;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;    
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

main {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 10px;
    background-color: rgb(177, 166, 151);
    color: rgba(14, 14, 9, 0.61);
    width: 100%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}
.anime-box {
    border: 3px solid black;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px gray;
    background-color: rgb(220, 210, 190);
}
.picture {
    float: left;
    width: 250px;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 5px gray;
     
}
.picture img {
    width: 100%;
    height: 150px;
}

figcaption {
  font-style: italic;
  text-align: center;
}
footer{
    height: 80px;
    text-align: left;
    padding: 20px;
    color: white;
    text-shadow: 1px 1px 4px black;
    border: 3px solid white;

    background-image: url(Onepiecebackground.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 60px 60px;

    background-origin: content-box;
    background-clip: border-box;
}
